body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Add flex display */
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: flex-start; /* Align items to the start (top) */
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.classes-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr)); /* Adjust image size */
    gap: 5px; /* Adjust gap between images */
}
/* Class image CSS */
.bos-class-img {
    width: 48px;
    height: 48px;
}

.bos-class-img:hover {
    transform: scale(1.1);
}

.bos-class-active {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.bos-class-inactive {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}
/* End Class image CSS */