body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Add flex display */
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: flex-start; /* Align items to the start (top) */
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.classes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); /* Adjust image size */
    gap: 5px; /* Adjust gap between images */
}
/* Class image CSS */
.bos-class-img {
    width: 48px;
    height: 48px;
}

.bos-class-img:hover {
    transform: scale(1.1);
}

.bos-class-active {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.bos-class-inactive {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}
/* End Class image CSS */
.gear {
    align-items: center;
    background: rgba(32,34,37,.8);
    border-radius: 0.25rem;
    display: flex;
    height: 49px;
    justify-content: center;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 49px;
}
.gen-armor {
    right: 92px;
    top: -15px;
}
.gen-helmet {
    left: 92px;
    top: -15px;
}
.gen-gloves {
    right: -20px;
    top: 200px;
}
.gen-boots {
    left: -20px;
    top: 200px;
}
.gen-main {
    left: 80px;
    top: 310px;
}
.gen-awa {
    left: 145px;
    top: 322px;
}
.gen-sub {
    right: 80px;
    top: 310px;
}
.gen-ring1 {
    right: 12px;
    top: 51px;
}
.gen-ring2 {
    right: -20px;
    top: 111px;
}
.gen-neck {
    right: 25px;
    top: 270px;
}
.gen-ear1 {
    left: 12px;
    top: 51px;
}
.gen-ear2 {
    left: -20px;
    top: 111px;
}
.gen-belt {
    left: 25px;
    top: 270px;
}
.equipment-ring {
    border: 3px solid #5e6165;
    border-radius: 50%;
    height: 340px;
    width: 340px;
    top:10px;
}