.bos-class-img {
    width: 48px;
    height: 48px;
}

.bos-class-img:hover {
    transform: scale(1.1);
}

.bos-class-active {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.bos-class-inactive {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}