{% extends "layout.html" %}

{% block script %}
<script src="/static/js/script.js" defer></script>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
{% endblock %}

{% block title %}
Generate
{% endblock %}

{% block content %}
<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <h1>Generate results are here</h1>
        </div>
        <div class="col">
            <h5>Classes:</h5>
            <div class="classes-grid" id="bos-classes">
            </div>
        </div>
    </div>
</div>
</div>
<!-- {% if level > 1 %}
<h2>Config: <span id="config"></span></h2>
<div class="roulette" style="display:none;">
    <img src="https://bdocodex.com/images/skillcalc/class_0.webp" />
    <img src="https://bdocodex.com/images/skillcalc/class_1.webp" />
    <img src="https://bdocodex.com/images/skillcalc/class_2.webp" />
    <img src="https://bdocodex.com/images/skillcalc/class_3.webp" />
    <img src="https://bdocodex.com/images/skillcalc/class_4.webp" />
</div>
<button id="go">Go</button>
{% endif %} -->
{% endblock %}