{% extends "layout.html" %}

{% block script %}
<script src="/static/js/script.js" defer></script>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-auto">
            <div id="gen-result" style="display:none">
                <img id="gen-class-img"></img>
                <h5 id="gen-class-name"></h5>
                <div id="gen-item-container">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="position-relative p-3">
                <button class="btn btn-success position-absolute top-50 start-50 translate-middle" id="gen-button">Generate</button>
            </div>
            <h5>Classes: </h5>
            <span>Selected: </span><span class="bos-class-active-count"></span>/<span id="bos-class-count-total"></span>
            <div class="classes-grid" id="bos-classes">
            </div>
        </div>
    </div>
</div>
{% endblock %}